@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body{
  padding: 0;
  margin: 0;
}

html {
  /* overflow: hidden; */
  width: 100%;
}

body {
  overflow-y: scroll;
  min-height: -webkit-fill-available;
  height: 100%
  }





#ellipse {
  border-radius: 50%;
}

.video-element {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


@keyframes swish {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.swishy2 {
  opacity: 0;
  transform: translateY(3rem);
  animation: swish 2s ease .5s forwards;
}

input:checked ~ .dot {
  transform: translateX(100%);
  background-color: #848281;
}


@-webkit-keyframes my-animation {
  from { -webkit-transform: translateX(100%); }
  to { -webkit-transform: translateX(-100%); }
}

@keyframes my-animation {
  from {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  to {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

.scrollText {
  /* animation properties */
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  -moz-animation: my-animation 15s linear infinite;
  -webkit-animation: my-animation 15s linear infinite;
  animation: my-animation 15s linear infinite;

}


.scroller {
  height: 1.2em;
  line-height: 1.2em;
  position: relative;
  overflow: hidden;
  width: 10em;
}
.scroller > span {
  position: absolute;
  top: 0;
  animation: slide 5s infinite;
  font-weight: bold;
}

@keyframes slide {
  0% {
    top: 0;
  }
  25% {
    top: -1.2em;
  }
  50% {
    top: -2.4em;
  }
  75% {
    top: -3.6em;
  }
}

@font-face {
  font-family: "nyght";
  src: url('./fonts/nyght-serif-main/fonts/WEB/NyghtSerif-DarkItalic.woff2');
}

.scroll-y {
  height: 100%;
  text-align: center;
  
  /* animation properties */
  -moz-transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  
  -moz-animation: my-scroll 8s linear infinite;
  -webkit-animation: my-scroll 8s linear infinite;
  animation: my-scroll 8s linear infinite;
}




/* for Firefox */
@-moz-keyframes my-scroll {
  from { -moz-transform: translateY(-100%); }
  to { -moz-transform: translateY(100%); }
}

/* for Chrome */
@-webkit-keyframes my-scroll {
  from { -webkit-transform: translateY(-100%); }
  to { -webkit-transform: translateY(100%); }
}

@keyframes my-scroll {
  from {
    -moz-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  to {
    -moz-transform: translateY(100%);
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
}

/* .scroll-x {

} */

.scroll-x {
  width: 100%;
  text-align: center;
  
  /* animation properties */
  -moz-transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  
  -moz-animation: mx-scroll 8s linear infinite;
  -webkit-animation: mx-scroll 8s linear infinite;
  animation: mx-scroll 8s linear infinite;
}

/* for Firefox */
@-moz-keyframes mx-scroll {
  from { -moz-transform: translateY(-100%); }
  to { -moz-transform: translateY(100%); }
}

/* for Chrome */
@-webkit-keyframes mx-scroll {
  from { -webkit-transform: translateY(-100%); }
  to { -webkit-transform: translateY(100%); }
}

@keyframes mx-scroll {
  from {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  to {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}
