@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body{
  padding: 0;
  margin: 0;
}

html {
  /* overflow: hidden; */
  width: 100%;
}

body {
  overflow-y: scroll;
  min-height: -webkit-fill-available;
  height: 100%
  }


#portsection1 {
  background-image: url('./photos/photo20.avif');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#portsection2 {
  background-image: url('./photos/twoormorebackground.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center;
}

.portsection3 {
  background-image: url('./photos/moon.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center;
}

#home-about {
  background-image: url('./photos/starbsandcaution.png');
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

#video-element {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#inspfirstsection {
  background-image: url('./photos/photo20.avif');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#twofirstsection {
    background-image: url('./photos/twoormorebackground.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


@keyframes swish {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.swishy2 {
  opacity: 0;
  transform: translateY(3rem);
  animation: swish 2s ease .5s forwards;
}

.aboutabout{
  background-image: url('./photos/lookatcameraportfolio3.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.aboutbackground {
  background-image: url('./photos/starbsandcaution.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.aboutnow {
  background-image: url('./photos/portfolio5.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.aboutconnect {
  background-image: url('./photos/train.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}







/* .home {
  /* background-image: url(rain.avif);  */

/* #about {
  background-image: url('./photos/lookatcameraportfolio3.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
 
} */

@-webkit-keyframes my-animation {
  from { -webkit-transform: translateX(100%); }
  to { -webkit-transform: translateX(-100%); }
}

@keyframes my-animation {
  from {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  to {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

.scrollText {
  /* animation properties */
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  
  -moz-animation: my-animation 15s linear infinite;
  -webkit-animation: my-animation 15s linear infinite;
  animation: my-animation 15s linear infinite;

}


.scroller {
  height: 1.2em;
  line-height: 1.2em;
  position: relative;
  overflow: hidden;
  width: 10em;
}
.scroller > span {
  position: absolute;
  top: 0;
  animation: slide 5s infinite;
  font-weight: bold;
  
}

@keyframes slide {
  0% {
    top: 0;
  }
  25% {
    top: -1.2em;
  }
  50% {
    top: -2.4em;
  }
  75% {
    top: -3.6em;
  }
}
