@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

 

/* body {
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
  padding: 10px;
  background-image: url('texturedPalms.avif');
  background-repeat: no-repeat;
  background-size: cover;
  
} */

.app {
  background-color: white;
  padding: 10px;
  background-image: url('greyStoneTexture.avif');
  background-repeat: repeat;
  background-size: cover;
  height: 100vh;
}






/* .home {
  /* background-image: url(rain.avif);  */



